body {
    background-color: lightblue;
    font-family: sans-serif;
    color: #000;
}

.todo {
    margin-left: 50px;
}

label {
    font-size: 22px;
}

.todo__create-task {
    margin-top: 20px;
    border-radius: 3px;
}

.todo__add-task {
    border-radius: 1px;
    outline: none;
    margin-left: 15px;
}

.todo__list-task {
    display: flex;
    flex-direction: column;
}

.todo__wrp-task {
    display: flex;
    align-items: center;
}

.todo__del-task {
    outline: none;
    border-radius: 2%;
    background-color: #C12929;
    border: 1px solid #B13B3B;
    transition: background-color .5s;
    margin-left: 15px;
}

.todo__del-task:hover {
    cursor: pointer;
    background-color: #D97575;
    border: 1px solid #D66464;
}

li {
    margin: 10px 0px;
}
